<mat-card>
  <mat-card-actions>
    <button mat-raised-button color="primary"
            (click)="onOpen()">
      <i *ngIf="isOpen" class="material-icons"> keyboard_arrow_up </i>
      <i *ngIf="!isOpen" class="material-icons"> keyboard_arrow_down </i>
    </button>
  </mat-card-actions>
</mat-card>
<section *ngIf="isOpen">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Select id</mat-label>
      <mat-select formControlName="id">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let option of data | async" [value]="option.id">
          <span>{{option.id}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select title</mat-label>
      <mat-select formControlName="title">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let option of data | async" [value]="option.title">
          <span>{{option.title}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <p> {{countrySave.value}} You selected: {{saveData['id']}}: {{saveData['title']}}</p>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSelectedSave()">
      <i class="material-icons">done</i>
    </button>
    <button mat-raised-button color="warn" (click)="onClear()">
      <i class="material-icons">clear</i>
    </button>
  </div>

</section>
