<mat-card>
  <mat-card-actions>
    <button mat-raised-button color="primary"
            (click)="onOpen()">
      <i *ngIf="isOpen" class="material-icons"> keyboard_arrow_up </i>
      <i *ngIf="!isOpen" class="material-icons"> keyboard_arrow_down </i>
    </button>
  </mat-card-actions>
</mat-card>

<section *ngIf="isOpen">
  <h1 mat-dialog-title>Your choice</h1>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary">
      <i class="material-icons">check_box</i>
    </button>
    <button mat-raised-button color="warn" (click)="onOpen()">
      <i class="material-icons">cancel_presentation</i>
    </button>
  </div>
</section>
