.mat-raised-button {
  margin: 0 15px;
  min-width: 32px;
  width: 80px;
  height: 34px;
  padding: 0;
}

mat-card-actions .mat-raised-button {
  width: 60px;
  height: 30px;
  margin: 0;
}

.mat-dialog-actions {
  text-align: center;
}

section {
  position: fixed;
  z-index: 4;
  right: 60px;
  top: 75px;
  border: 1px solid #dc797c;
  padding: 15px;
  background: #90a3ff;
  border-radius: 1%;
  width: 300px;
}

.mat-form-field {
  width: 100%;
}

mat-card {
  position: fixed;
  z-index: 5;
  top: 65px;
  right: 30px;
}

button {
  width: 80px;
}
