.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 20px 0 0 20px;
}

.full-width {
  width: 80%;
}

button {
  width: 18%;
  margin: 4% 1%;
}

.is-loading ::ng-deep .mat-option-text {
  display: flex;
  justify-content: center;
}

.is-loading {
  margin: 25px 0;
}
