<form class="form">
  <mat-form-field class="full-width">

    <input matInput [formControl]="inputCountry" placeholder="Enter country"
           [matAutocomplete]="auto" autofocus="autofocus">

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngIf="isLoading" class="is-loading" disabled>
        <mat-spinner [diameter]="46"></mat-spinner>
      </mat-option>
      <mat-option *ngIf="isEmpty" class="is-empty" disabled hidden>
        start typing...
      </mat-option>
      <mat-option *ngIf="noMatches" class="no-matches" disabled hidden>
        no matches...
      </mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let option of filteredCountries" [value]="option.title">
          <span>{{option.title}}</span>
        </mat-option>
      </ng-container>

    </mat-autocomplete>

    <button matSuffix mat-icon-button color="warn" (click)="resetInputValue()" type="reset">
      <i class="material-icons">
        close
      </i>
    </button>

  </mat-form-field>
</form>

<!--<div appMyDir>MyDirDirective</div>-->
<!--<div *appStructDir="condition">first</div>-->
<!--<div *appStructDir="!condition">second</div>-->

<!--<div>{{filteredCountries | myPipe}}</div>-->

<app-telephony-widget>
  <app-phone-form [countrySave]="inputCountry"></app-phone-form>

</app-telephony-widget>
